/* ============================================================== Desktop view ===========================================================*/
@media (min-width: 768.98px) and (max-width: 2000px) {

#about{
    margin-left: 90px;
    width: 100vw;
    height: 100vh;
    background-color: #cae1f4;
}
#about .mail-logo{
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/pulsar-color/48/000000/mail.png");
}
.dark-mode #about .mail-logo{
    width: 48px;
    height: 48px;
    background-image: url("https://img.icons8.com/pulsar-color/48/000000/mail.png");
}
}


/* ================================================================ small mobile view =====================================================*/

@media (max-width: 575.98px) {

}

/* =================================================== mobile view ========================================================================*/

@media (min-width: 576px) and (max-width: 767.98px) {
}

/* ================================================================ tab view =============================================================*/

@media (min-width: 768px) and (max-width: 991.98px) {
    #about{
        margin-left: 80px;
        width: 100vw;
        height: 100vh;
        background-color: #cae1f4;
    }
}