/* ============================================================== Desktop view ===========================================================*/
@media (min-width: 768.98px) and (max-width: 2000px) {

    .dark-mode #about {
        background-color: #130D14;
        transition: all 500ms;
    }

    #about {
        margin-top: 90px;
        padding: 2%;
        height: 80vh;
        background-color: #f6f6f6;
        transition: all 500ms;
        display: flex;
    }
    

}


/* ================================================================ small mobile view =====================================================*/

@media (max-width: 575.98px) {}

/* =================================================== mobile view ========================================================================*/

@media (min-width: 576px) and (max-width: 767.98px) {}
    #about > div {
        flex-direction: column;
    }

    #about > div > div:first-child, 
    #about > div > div:last-child {
        padding: 20px;
    }

    #about img {
        max-width: 80%;
    }
/* ================================================================ tab view =============================================================*/

@media (min-width: 768px) and (max-width: 991.98px) {

}