/* ============================================================== Desktop view ===========================================================*/
@media (min-width: 768.98px) and (max-width: 2000px) {

    .dark-mode #about {
        background-color: #130D14;
        transition: all 500ms;
    }

    #about {
        margin-left: 90px;
        padding: 2%;
        height: 80vh;
        background-color: #f6f6f6;
        transition: all 500ms;
        display: flex;
    }

    .about_container {
        display: flex;
        flex-direction: row;
    }

    .about_container_about {
        padding: 2%;
        width: 40vw;
        height: 70vh;
        border-radius: 2rem;
        background: rgb(97, 144, 232);
        background: linear-gradient(180deg, rgba(97, 144, 232, 1) 0%, rgba(167, 191, 232, 1) 100%);
    }
    
    .about_logo{
        background-image: url("../../assets/about_icon_light.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 35px;
        height: 35px;
        mix-blend-mode: darken;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px  5px 0;
    }

    .dark-mode .about_logo{
        background-image: url("../../assets/about_icon_dark.png"); 
        mix-blend-mode: lighten;  
    }

    .about_container_about h1 {
        background-color: rgba(167, 191, 232, 1);
        height: 54px;
        width: 175px;
        border-bottom-right-radius: 2rem;
        border-top-left-radius: 2rem;
        margin: -5%;
        font-size: 1.6rem;
        padding: 2% 4% 2%;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .about_item1 {
        grid-area: portfolio;
    }

    .contact {
        grid-area: menu;
    }

    .projects {
        grid-area: main;
    }

    .resume {
        grid-area: left;
    }
    .about_item5 {
        grid-area: right;
    }

    .about_items {
        margin-left: 2%;
        border-radius: 2rem;
        width: 50vw;
        display: grid;
        gap: 4%;
        grid-template-areas:
        'portfolio portfolio portfolio portfolio portfolio portfolio'
        'menu menu menu menu menu main'
        'left left right right right right';
    }

    .about_items > div {
        background-color: rgba(168, 75, 75, 0.8);
        border-radius: 2rem;
      }

    .about_item1 {
        width: 100%;
        height: 12vh;
        text-align: left;
        border-radius: 0 !important;
    }

    .about_item1 h1 {
        font-size: 100px;
        padding: 0;
    }

    .contact{
        height: 30vh;
    }

    .resume{
        height: 15vh;
    }



    footer {
        margin-left: 6.2vw;
        width: 90vw;
        padding: 1%;
        border-radius: 1rem;
        color: #130D14;
        background-color: rgba(167, 191, 232, 1);
    }
}


/* ================================================================ small mobile view =====================================================*/

@media (max-width: 575.98px) {}

/* =================================================== mobile view ========================================================================*/

@media (min-width: 576px) and (max-width: 767.98px) {}

/* ================================================================ tab view =============================================================*/

@media (min-width: 768px) and (max-width: 991.98px) {
    #about {
        margin-left: 80px;
        width: 100vw;
        height: 100vh;
        background-color: #cae1f4;
    }
}